<!DOCTYPE html>
<html lang="en" ng-app="sklaidaApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sklaida</title>

    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-controller="searchController">
    <header class="site-header">
        <h1 class="site-title">
            <a href="#">
                <img src="images/logo.svg" height="29" width="119" alt="Event Store">
            </a>
        </h1>
        <ul class="site-nav">
            <li class="site-nav__item site-nav__item--active" ng-class="{'site-nav__item--active': $state.includes('dashboard') }"><a ui-sref="dashboard.list" href="#">Search</a>
            </li>
        </ul>
    </header>
    <main class="site-main">
        <div class="container">
            <div class="container-left lighter">
                <h2 class="page-title">Search</h2>
                <form class="form-horizontal" ng-init="init()" role="form" ng-submit="submit()">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="col-sm-2 control-label">Ouro Type</label>
                        <div class="dropdown col-sm-2">
                            <select name="SearchType" ng-model="fieldsToSubmit.SearchType" class="form-control">
                                <option>Template</option>
                                <option>Self Assembly</option>
                                <option>Complete</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deliveryDate" class="col-sm-2 control-label">Delivery date</label>
                        <div class="col-sm-2">
                            <input name="DesiredDeliveryDate" ng-model="fieldsToSubmit.DesiredDeliveryDate" type="text" class="form-control datepicker search square" class="span2" value="02-16-2012">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deliveryPostCode" class="col-sm-2 control-label">Delivery post code</label>
                        <div class="col-sm-2">
                            <input name="DeliveryPostCode" ng-model="fieldsToSubmit.DeliveryPostCode" type="text" class="form-control" class="span2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Ownership" class="col-sm-2 control-label">Ownership</label>
                        <div class="dropdown col-sm-2">
                            <select name="Ownership" ng-model="fieldsToSubmit.Ownership" class="form-control">
                                <option>Own</option>
                                <option>Lease</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numberOfWings" class="col-sm-2 control-label">Number of wings</label>
                        <div class="col-sm-2">
                            <input name="NumberOfWings" ng-model="fieldsToSubmit.NumberOfWings" type="text" class="form-control" class="span2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="dropdown col-sm-2">
                            <input name="WaterproofRequired" ng-model="fieldsToSubmit.WaterproofRequired" type="checkbox">Waterproof Required
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="dropdown col-sm-3">
                            <input name="HistoricInterestRequired" ng-model="fieldsToSubmit.HistoricInterestRequired" type="checkbox">Hisoric Interest Required
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="dropdown col-sm-3">
                            <input name="PreviouslyOwnedOuros" ng-model="fieldsToSubmit.PreviouslyOwnedOuros" type="checkbox">Previously Owned Ouros
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="valueOfPreviouslyOwnedOuros" class="col-sm-2 control-label">Value of previously owned Ouros</label>
                        <div class="col-sm-2">
                            <input name="ValueOfPreviousOuros" ng-model="fieldsToSubmit.ValueOfPreviousOuros" type="text" class="form-control" class="span2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <ul class="page-nav">
                                <li class="page-nav__item">
                                    <button type="submit">Search</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-right">
                <h2 class="page-title">Results</h2>
                <table class="table-queues">
                    <thead>
                        <tr>
                            <th ng-click="setSortByField('type')">Type &#x21D5;</th>
                            <th ng-click="setSortByField('data.vendor')">Vendor &#x21D5;</th>
                            <th ng-click="setSortByField('data.price')">Price &#x21D5;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="result in results|orderBy:fieldToSortBy:reverseSort" ng-click="followLink(result)">
                            <td>{{ result.type }}</td>
                            <td>{{ result.data.vendor }}</td>
                            <td>{{ result.data.price | currency }}</td>
                        </tr>
                        <tr ng-hide="results.length > 0">
                            <td colspan="3" style="text-align:center;">
                                <em ng-show="!busy">No results</em>
                                <img src="images/loading.gif" ng-show="busy" style="text-align:center"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>{{ result.type }}</h3>
                <span>
                    <strong>{{ result.data.price | currency }}</strong>
                </span>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/search/searchController.js"></script>
    <script type="text/javascript" src="js/search/searchService.js"></script>
    <script type="text/javascript" src="js/atomPollerService.js"></script>
</body>

</html>
